// components/_marquee.scss
@use '../variables' as *;

.marquee-strip {
    padding: 4rem 0;
    background: $color-accent-2; // Red accent strip
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 5;
    transform: rotate(-2deg) scale(1.1); // Dynamic angle
    margin: 5rem 0;

    &__inner {
        display: inline-block;
        animation: marquee 20s linear infinite;

        span {
            font-family: $font-display;
            font-size: 4rem;
            font-weight: 700;
            margin-right: 4rem;
            text-transform: uppercase;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}