// _animations.scss

// Flicker Animation
@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.99;
        text-shadow: none;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.animate-flicker {
    animation: flicker 4s infinite linear;
}

// Reveal Text
.reveal-text {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateY(100%);
    transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);

    &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transform: translateY(0);
    }
}